In [2]:

import pandas as pd

# Load the dataset
file_path = '/mnt/data/CarPrice_Assignment.csv'
df = pd.read_csv('CarPrice_Assignment.csv')

# Display the first few rows of the dataset to inspect its structure
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
# Checking for categorical columns to encode
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [4]:
# Drop the 'car_ID' column as it's not relevant for prediction
df = df.drop(columns=['car_ID'])

# Extract car brand from 'CarName' column (take the first word which is the brand)
df['CarBrand'] = df['CarName'].apply(lambda x: x.split()[0])
df = df.drop(columns=['CarName'])  # Drop original 'CarName' column

# One-Hot Encoding for categorical columns
categorical_columns = ['fueltype', 'aspiration', 'doornumber', 'carbody', 
                       'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem', 'CarBrand']
df_encoded = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

# Check the processed DataFrame
df_encoded.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,CarBrand_porsche,CarBrand_renault,CarBrand_saab,CarBrand_subaru,CarBrand_toyota,CarBrand_toyouta,CarBrand_vokswagen,CarBrand_volkswagen,CarBrand_volvo,CarBrand_vw
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,False,False,False,False,False,False,False,False,False,False
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,False,False,False,False,False,False,False,False,False,False
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,...,False,False,False,False,False,False,False,False,False,False
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,...,False,False,False,False,False,False,False,False,False,False
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,...,False,False,False,False,False,False,False,False,False,False

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Define features (X) and target (y)
X = df_encoded.drop(columns=['price'])
y = df_encoded['price']

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(np.float64(6600950.844754582), 0.9163844104822444)

In [6]:
from sklearn.metrics import mean_squared_error, r2_score

# Predict on the test data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 6600950.844754582
R-squared: 0.9163844104822444

In [7]:
# Example new car data (make sure it matches the structure of the encoded data)
new_car = {
    'symboling': 3, 
    'wheelbase': 88.6, 
    'carlength': 168.8, 
    'carwidth': 64.1, 
    'carheight': 48.8, 
    'curbweight': 2548, 
    'enginesize': 130, 
    'boreratio': 3.47, 
    'stroke': 2.68, 
    'compressionratio': 9.0, 
    'horsepower': 111, 
    'peakrpm': 5000, 
    'citympg': 21, 
    'highwaympg': 27,
    # Include one-hot encoded values for categorical columns like fueltype, aspiration, etc.
    # Example:
    'fueltype_gas': 1,  # fueltype is gas
    'aspiration_turbo': 0,  # No turbo
    'doornumber_two': 0,  # Four doors
    'carbody_sedan': 1,  # Sedan
    # Add other one-hot encoded columns as required
}

# Convert to DataFrame
import pandas as pd
new_car_df = pd.DataFrame([new_car])

# Ensure the new car DataFrame has the same columns as the training data
new_car_df = new_car_df.reindex(columns=X.columns, fill_value=0)

# Predict the price using the trained model
predicted_price = model.predict(new_car_df)
print(f"Predicted Price: {predicted_price[0]}")

Predicted Price: 10964.503262796701